@font-face {
    font-family: "Viksi Script";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Viksi-Script.ttf");
}

@font-face {
    font-family: "Hamster";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Hamster.otf");
}

@font-face {
    font-family: "Wakanda";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Wakanda.ttf");
}

@font-face {
    font-family: "Billy";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/billy.ttf");
}

@font-face {
    font-family: "Kaige";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Kaige.ttf");
}

@font-face {
    font-family: "Blow Brush";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/blowbrush.ttf");
}

@font-face {
    font-family: "Magnolia Script";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/magnoliascript.otf");
}

@font-face {
    font-family: "Minnadrop-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/Minnadrop-Regular.otf");
}