// reset
@import 'vendor/reset';
// vars
@import 'vars';

@import 'vendor/fonts';

html{

}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $primary;
    color: $font-main;
    font-size: 15px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.wrapper{

}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 20px;
    color: $font-main;
    text-decoration: none;
    padding: 5px 10px;
    transition: border .2s linear;

    &:hover{
        border: 3px solid rgba($font-main, .7);
    }
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

// Components
@import "components/header";
@import "components/burger";
@import "components/intro";
@import "components/section";
@import "components/portfolio";
@import "components/portfolio-nav";